{% load static %}
{% load book_filters %}
<style>
  @media screen and (max-width: 768px) {
    .pb-0-mobile {
      padding-bottom: 0.75rem !important;
    }
  }
</style>
{% for book in offered_books %}
<div class="card mb-4">
  <div class="card-content pb-0-mobile">
    <article class="media">
      {% if book.cover_image %}
      <div class="media-left is-flex is-align-items-center" style="width: 100px; height: 150px;">
        <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" style="max-width: 100px; max-height: 150px; border-radius: 4px;">
      </div>
      {% endif %}
      <div
        class="media-content"
        style="display: flex; flex-direction: column; min-height: 150px;"
      >
        <div class="mb-4">
          <div class="is-flex is-justify-content-space-between is-align-items-center mb-1">
            <p class="is-size-5">
              <strong>{{ book.title }}</strong>
            </p>
            <div class="is-hidden-mobile">
              {% include '_exchange_button.html' %}
            </div>
          </div>
          <p class="mb-2 is-size-6"><a href="{% url 'home' %}?search={{ book.author|urlencode }}" class="has-text-grey-dark" title="Buscar libros de este autor">{{ book.author }}</a></p>
          {% if book.notes %}
          <p class="is-size-7 has-text-grey">
            Observaciones: {{ book.notes }}
          </p>
          {% endif %}
        </div>
        <div class="content" style="margin-top: auto">
          <div
            class="is-flex is-justify-content-space-between is-align-items-center"
          >
            <div class="is-size-6 book-meta">
              <span class="has-text-grey timeago-tooltip" style="white-space: nowrap; margin-right: 0.5rem;" data-timestamp="{{ book.last_activity_date|date:'c' }}">
                <span class="icon is-small">
                  <i class="fas fa-clock"></i>
                </span>
                <span>{{ book.last_activity_date|timeago }}</span>
              </span>
              <span class="user-info">
                <a href="{% url 'profile' username=book.user.username %}" class="has-text-grey" title="Ver el perfil de {{ book.user.username }}">
                  <span class="icon is-small">
                    <i class="fas fa-user"></i>
                  </span>
                </a>
                <a href="{% url 'profile' username=book.user.username %}" class="mr-2" title="Ver el perfil de {{ book.user.username }}">{{ book.user.username }}</a>
              </span>
              <span class="location-tags is-hidden-mobile">
                {% for location in book.user.locations.all %}
                <span class="tag is-light mr-1"
                  >{{ location.get_area_display }}</span
                >
                {% endfor %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="card-content pt-0 is-hidden-tablet">
    <div class="location-tags mb-3">
      {% for location in book.user.locations.all %}
      <span class="tag is-light mr-1"
        >{{ location.get_area_display }}</span
      >
      {% endfor %}
    </div>
    <div class="has-text-centered">
      {% include '_exchange_button.html' %}
    </div>
  </div>
</div>
{% empty %}
<div class="notification is-info is-light">
  <p>No hay libros disponibles en este momento.</p>
</div>
{% endfor %}
