{% load static %}
{% load book_filters %}
{% for book in offered_books %}
<div class="card mb-4">
  <div class="card-content">
    <article class="media">
      <div
        class="media-content"
        style="display: flex; flex-direction: column; min-height: 100px;"
      >
        <div class="mb-4">
          <div class="is-flex is-justify-content-space-between is-align-items-center mb-1">
            <p class="is-size-5">
              <span class="icon is-small mr-2">
                <i class="fas fa-book"></i>
              </span>
              <strong>{{ book.title }}</strong>
            </p>
            <div class="is-hidden-mobile">
              {% include '_exchange_button.html' %}
            </div>
          </div>
          <p class="mb-2 is-size-6"><a href="{% url 'home' %}?search={{ book.author|urlencode }}" class="has-text-grey-dark" title="Buscar libros de este autor">{{ book.author }}</a></p>
          {% if book.notes %}
          <p class="is-size-7 has-text-grey">
            Observaciones: {{ book.notes }}
          </p>
          {% endif %}
        </div>
        <div class="content" style="margin-top: auto">
          <div
            class="is-flex is-justify-content-space-between is-align-items-center"
          >
            <div class="is-size-6">
              <span class="has-text-grey timeago-tooltip is-hidden-mobile" style="white-space: nowrap; margin-right: 0.5rem;" data-timestamp="{{ book.created_at|date:'c' }}">
                <span class="icon is-small">
                  <i class="fas fa-clock"></i>
                </span>
                <span>{{ book.created_at|timeago }}</span>
              </span>
              <a href="{% url 'profile' username=book.user.username %}" class="has-text-grey" title="Ver el perfil de {{ book.user.username }}">
                <span class="icon is-small">
                  <i class="fas fa-user"></i>
                </span>
              </a>
              <a href="{% url 'profile' username=book.user.username %}" class="mr-2" title="Ver el perfil de {{ book.user.username }}">{{ book.user.username }}</a>
              {% for location in book.user.locations.all %}
              <span class="tag is-light mr-1"
                >{{ location.get_area_display }}</span
              >
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="card-content pt-0 is-hidden-tablet">
    <div class="has-text-centered">
      {% include '_exchange_button.html' %}
    </div>
  </div>
</div>
{% empty %}
<div class="notification is-info is-light">
  <p>No hay libros disponibles en este momento.</p>
</div>
{% endfor %}
