{% extends "base.html" %}

{% block content %}
    <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: #f0f4ff;">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item has-text-weight-bold is-size-4" href="{% url 'home' %}">
                    CambioLibros
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start is-flex-grow-1 is-justify-content-center">
                    <div class="navbar-item" style="width: 100%; max-width: 500px;">
                        <div class="control has-icons-right" style="width: 100%;">
                            <input class="input" type="search" placeholder="Buscar Libro o Autor">
                            <span class="icon is-right" style="pointer-events: none;">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Usuario
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="#">
                                Editar Perfil/Libros
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="#">
                                Cerrar Sesión
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            {% block logged_content %}{% endblock %}
        </div>
    </section>
{% endblock %}
