{% extends "base_logged.html" %}

{% block logged_content %}
<div class="columns is-centered">
    <div class="column is-half">
        <h1 class="title">Contacto</h1>
        <div class="box">
            <p>
                Si tenés preguntas, problemas, críticas o sugerencias, escribí a
                <a href="#" onclick="navigator.clipboard.writeText('contacto@giralibros.com'); return false;" title="Copiar email al portapapeles">contacto@giralibros.com</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
