{% extends "base_logged_out.html" %}

{% block column_classes %} has-text-centered{% endblock %}

{% block main_content %}
    <h2 class="title is-4 mb-4">
        ❌ Enlace inválido
    </h2>
    <div class="content">
        <p>
            El enlace para restablecer tu contraseña es inválido o ya expiró.
        </p>
        <p>
            Podés solicitar un nuevo enlace para restablecer tu contraseña.
        </p>
    </div>
    <hr class="my-5">
    <a href="{% url 'password_reset_request' %}" class="button is-light is-fullwidth">
        Solicitar nuevo enlace
    </a>
{% endblock %}
