{% extends "base_logged_out.html" %}

{% block column_classes %} has-text-centered{% endblock %}

{% block main_content %}
    <h2 class="title is-4 mb-4">
        ✅ Contraseña cambiada
    </h2>
    <div class="content">
        <p>
            Tu contraseña se cambió exitosamente.
        </p>
        <p>
            Ya podés iniciar sesión con tu nueva contraseña.
        </p>
    </div>
    <hr class="my-5">
    <a href="{% url 'login' %}" class="button is-primary is-fullwidth">
        Iniciar sesión
    </a>
{% endblock %}
