{% extends "base_logged_out.html" %}
{% load static %}

{% block extra_logged_out_css %}
<script src="{% static 'js/form-validation.js' %}"></script>
{% endblock %}

{% block main_content %}
    <h2 class="title is-4 mb-4 has-text-centered">
        Creá una nueva contraseña
    </h2>
    <div class="content mb-4">
        <p class="is-size-6">
            Ingresá tu nueva contraseña.
        </p>
    </div>

    {% if form.non_field_errors %}
    <div class="notification is-danger is-light">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            <label class="label">{{ field.label }}</label>
            <div class="control">{{ field }}</div>
            {% if field.errors %}
            <p class="help is-danger">{{ field.errors.0 }}</p>
            {% endif %}
        </div>
        {% endfor %}

        <div class="field">
            <div class="control">
                <button class="button is-light is-fullwidth" type="submit">
                    Cambiar contraseña
                </button>
            </div>
        </div>
    </form>
{% endblock %}
