{% extends "base_logged_out.html" %}
{% load static %}

{% block extra_logged_out_css %}
<script src="{% static 'js/form-validation.js' %}"></script>
{% endblock %}

{% block column_classes %} is-7-tablet is-6-desktop is-5-widescreen{% endblock %}

{% block main_content %}
<h1 class="title has-text-centered mb-3">📚 GiraLibros</h1>
<p class="has-text-centered mb-5">
  La comunidad gratuita de intercambio de libros en Buenos Aires
</p>

<p class="has-text-centered mb-3 mt-5">
  Registrate acá para empezar a cambiar libros:
</p>

{% if form.non_field_errors %}
<div class="notification is-danger is-light">
  {{ form.non_field_errors }}
</div>
{% endif %}

<form method="post" action="{% url 'register' %}">
  {% csrf_token %}
  {% for field in form %}
  <div class="field">
    <label class="label">{{ field.label }}</label>
    <div class="control">{{ field }}</div>
    {% if field.errors %}
    <p class="help is-danger">{{ field.errors.0 }}</p>
    {% endif %}
  </div>
  {% endfor %}

  <div class="field">
    <div class="control">
      <button class="button is-light is-fullwidth" type="submit" disabled>
        Registrarse
      </button>
    </div>
  </div>
</form>

<hr class="my-5" />

<div class="has-text-centered">
  <p class="is-size-6 has-text-grey">
    ¿Ya estás registrado? <a href="{% url 'login' %}">Iniciá sesión</a>
  </p>
</div>
{% endblock %}
